apiVersion: v1
kind: ResourceQuota
metadata:
  name: pr-quota
  namespace: ${NAMESPACE}
spec:
  hard:
    requests.cpu: "2"
    requests.memory: 4Gi
    limits.cpu: "4"
    limits.memory: 8Gi
    persistentvolumeclaims: "1"
    services.loadbalancers: "0"
    services.nodeports: "0"

